.about-section {
    background-color: #f7f7f7;
    color: #222;
    padding: 100px 20px 60px 20px;
    text-align: center;
  }
  
  .about-content {
    max-width: 800px;
    margin: auto;
  }
  
  .about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 18px;
    line-height: 1.6;
  }
  